* {
  margin: 0 auto;
  padding: 0;
}

.cart-main {
  min-height: 80vh;
  width: 100%;
  background: rgb(247, 244, 238);
}

.cart-empty-msg {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.cart-empty-msg i {
  font-size: 70px;
  margin-bottom: 20px;
}

.cart-main-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-component {
  margin-top: 10px;
}

.cart-div-main {
  /* background: lightseagreen; */
  width: 80%;
  margin-right: 100%;
  margin: 20px;
  /* margin-bottom: 60vh; */

  /* background: lightyellow; */
}

.cart-heading {
  text-align: center;
  margin: 50px;
}

.cart-price {
  color: lightsalmon;
}

.cart-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 100%;
  margin-left: 0px;
  border-top: 1px solid rgba(128, 128, 128, 0.288);
  width: 76%;
  /* background: red; */
}

.img-div img {
  width: 100px;
  height: 100px;
}

.cart-div .img-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: lightyellow;
  margin: 10px;
}

.cart-div .text-div {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

.cart-div .text-div p {
  margin: 10px;
}

.cart-div .controls {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;

  /* width: 500px; */
  /* margin: 20px; */
}

.cart-div .controls button {
  font-size: 20px;
  width: 40px;
  height: 30px;
  background: none;
}

.cart-div .controls p {
  font-size: 20px;
  margin: 10px;
}

.delete-icon {
  margin-left: 15px;
  cursor: pointer;
  font-size: 17px;
}

@media (max-width: 1100px) {
  .cart-div .controls {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .delete-icon {
    margin: 20px;
    font-size: 1.5em;
  }
}
